.navBarBody {
  width: 100%;
  overflow: hidden;
  background-color: #036B52;
  display: flex;
  justify-content: space-between;
}
a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  background-color: #2FC18C;
  color: black;
}

a.active {
  background-color: #2FC18C;
  color: black;
}

.navBarUserName {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #421981;
  height: 100%;
}

.navBarBtn {
  float: right;
  background-color: #056CF9; /* Green */
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
  cursor: pointer;
}